footer.pie {
    grid-area: pie;
    margin-left: 45px;
    margin-top: 150px;
    div.pie__gradient {
        width: 1350px;
        height: 160px;
        margin-left: -46px;
        border: 1px solid;
        background-image: linear-gradient(to bottom,  #26856e, #26856e, white);
        a {
            color: black;
        }
    }
}